1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [6]:
#a)
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print ('Mickey Mouse')
    elif i % 3 == 0:
        print ('Mickey')
    elif i % 5 == 0:
        print ('Mouse')
    else:
        print (i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey Mouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey Mouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey Mouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey Mouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey Mouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey Mouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [9]:
#b)
results = []
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        results.append('Mickey Mouse')
    elif i % 3 == 0:
        results.append('Mickey')
    elif i % 5 == 0:
        results.append('Mouse')
    else:
        results.append(i)
#Substitute:
final_results = []
for item in results:
    if item == 'Mickey Mouse':
        final_results.append('Donald Duck')
    elif item == 'Mickey':
        final_results.append('Donald')
    elif item == 'Mouse':
        final_results.append('Duck')
    else:
        final_results.append(item)
#From list to tupla
final_tuple = tuple(final_results)
print(final_tuple)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
#temporary variable
def swaptemp(x, y):
    temp = x
    x = y
    y = temp
    return x,y

#without temporary variable
def swap(x,y):
    x,y=y,x
    return x,y

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
import math
def distance(u,v):
    return math.sqrt((v[0]-u[0])**2+(v[1]-u[1])**2)
u=(3,0)
v=(0,4)
print(distance(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [1]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
def characters_count(s):
    s=s.lower()
    count={}
    for char in s:
        if char.isalpha():  
            if char in count:
                count[char] += 1
            else:
                count[char] = 1
    return count
print(characters_count(s))

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [8]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def count_unumbers(l):
    unumbers = set(l)
    ucount = len(unumbers)
    return unumbers, ucount
unumbers, ucount = count_unumbers(l)
print("Unique numbers:", unumbers)
print("Count of unique numbers:", ucount)

Unique numbers: {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
Count of unique numbers: 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [4]:
def square(n):
    return n ** 2

def cube(n):
    return n ** 3

def sixthpower(n):
    return square(cube(n))

4

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
cubes_loop = []
for x in range(11):  
    cubes_loop.append(x ** 3)  
print("Cubes using for loop:", cubes_loop)

Cubes using for loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [12]:
cubes_list=[ x**3 for x in range (11)]
print("Cubes using list comprehension:", cubes_list)

Cubes using list comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
pyt_triples = tuple(
    (a, b, c)
    for a in range(1, 100)  # a recorre de 1 a 99
    for b in range(a, 100)  # b >= a para evitar duplicados
    for c in range(b, 100)  # c >= b para mantener el orden
    if a**2 + b**2 == c**2  # Verificamos que cumple la ecuación pitagórica
)
print(pyt_triples)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [5]:
def normalize(numbers):
    min_val = min(numbers)  # Encuentra el valor mínimo
    max_val = max(numbers)  # Encuentra el valor máximo
    # Aplica la fórmula de normalización a cada número
    normalized = tuple((x - min_val) / (max_val - min_val) for x in numbers)
    return normalized
num=(2,4,6)
print(normalize(num))

(0.0, 0.5, 1.0)